// ------------ RESET ------------ //
@import 'reset';

// ------------ GENERAL ------------ //
body {
    overflow-y: scroll;
}
.container-fluid {
    padding: 10px;
}

// ------------ SEARCH CONTAINER ------------ //
.main-search {
    display: flex;
    justify-content: end;
    input {
        border: 1px solid black;
        border-radius: 5px;
        font-size: 20px;
    }
}

// ------------ MAIN CONTAINER ------------ //
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .item-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .main-image {
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
        }
    }
}

// ------------ MEDIA QUERIES ------------ //
@media (max-width: 1100px) {
    .main-content {
        .item-container {
            position: relative;
            display: grid;
            grid-template-columns: 1fr;
            margin-bottom: 25px;
            border: 1px solid black;
            border-radius: 10px;
            .main-image {
                border-bottom: 1px solid black;
                img {
                    width: 97%;
                }
            }
            div {
                border: 0;
                &:last-child {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
            h1 {
                padding-top: 10px;
            }
            p {
                padding-bottom: 10px;
            }
        }
    }
}