/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
} 
body {
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
  padding: 10px;
}

.main-search {
  display: flex;
  justify-content: end;
}
.main-search input {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
  padding: 4px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content .item-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: white;
  filter: drop-shadow(3px 8px 5px rgb(202, 202, 202));
  border-bottom: 0;
  margin-bottom: 10px;
}
.main-content .item-container .main-image {
  padding: 20px;
}
.main-content .item-container .main-image img {
  border-radius: 20px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-content .item-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid rgb(230, 230, 230);
}
.main-content .item-container div:last-child {
  border-right: 0;
}

@media (max-width: 1100px) {
  .main-content .item-container {
    background-color: white;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 25px;
    filter: drop-shadow(3px 8px 5px rgb(202, 202, 202));
    width: 100%;
  }
  .main-content .item-container .main-image {
    padding: 0;
    border-bottom: 0;
  }
  .main-content .item-container .main-image img {
    height: 400px;
    border-radius: 0;
  }
  .main-content .item-container div {
    border: 0;
  }
  .main-content .item-container:last-child {
    margin-bottom: 0;
  }
  .main-content .item-container h2 {
    font-size: 35px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px 10px 10px 10px;
    border-radius: 5px;
  }
  .main-content .item-container h1 {
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .main-content .item-container p {
    padding-bottom: 20px;
    font-size: 18px;
    color: rgb(54, 54, 54);
  }
  .main-content .item-container:last-child {
    border-bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */